<br>
<h1>And they'll continue singing it forever just because...</h1>
<br>
<br>
<img src="/assets/lamb4.jpg" class="" height = "300" alt="...">
<br>
<br>
<h1><%= link_to "Next >>", '/' %></h1>
</div>
